@import "tailwindcss";

@theme {
  --color-nature-50: #f2fbf5;
  --color-nature-100: #e2f6e9;
  --color-nature-200: #c4ebd4;
  --color-nature-300: #96d8b5;
  --color-nature-400: #5fbe91;
  --color-nature-500: #3a9f75;
  --color-nature-600: #2a7f5d;
  --color-nature-700: #23664d;
  --color-nature-800: #1e513f;
  --color-nature-900: #1a4336;
  --color-nature-950: #0d251e;
}

body {
  @apply bg-gray-50 text-gray-900;
}
